
/* Button Styles */
.myButton {
 box-shadow: -3px 4px 2px 1px #1564ad;
 background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
 background-color:#79bbff;
 border-radius:12px;
 border:1px solid #337bc4;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:19px;
 font-weight:bold;
 padding:13px 38px;
 text-decoration:none;
 text-shadow:-2px 4px 0 #528ecc;
  margin-left: 400px;
}
.myButton:hover {
 background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
 background-color:#f0849f;
}
.myButton:active {
 position:relative;
 top:1px;
}

a:hover{
  text-decoration: none;
}

a .myButton {
  margin-top: 200px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

/*Intro Section Styles*/
.intro{
  /*background-color: #e8e6e6;*/
  padding: 80px 70px 10px;
  overflow: auto;
  align-items: center;
}

.girlImage{
  width: 40%;
  float: right;
  margin-left: 30px;
}

.title{
  margin-left: 200px;
}

.duedate{
  padding-left: 200px;
}

.date
{
  padding-left: 200px;
  padding-top: 30px;
}

/*Description Section Styles*/
.descrip{
  padding: 10px 40px 20px;
  align-items: center;
}

.fellowIntro{
  margin-left: 250px;
  /* width: 30%; */
  margin-top: 20px;
}

.fellow {
  margin-left: 300px;
  margin-top: 20px;
}

li{
  margin-left: 40px;
}

.laptop{
  float: left;
  margin-left: 350px;
  margin-bottom: 50px;
}

/*Table Styles*/
/* .tableSec{
  background-color: #e8e6e6;
} */

.table{
  padding: 10px 40px 10px;
}
td {
  padding: 15px;
  text-align: center;
}


/* Contact Form */
.contact{
  margin-left: 400px;
  margin-top: 30px;
  margin-bottom: 40px;
}
